/*
    Austin Jenchi
    CSE 154 AQ 19sp
*/
@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Source+Sans+Pro');

body {
    align-items: center;
    background-color: #EDEC99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

body, button {
    font-family: "Source Sans Pro", sans-serif;
}

canvas {
    border: 10px groove brown;
    cursor: crosshair;
    height: 33.75vw;   /* proportion so that it's scaled down 1920x1080 */
    width: 60vw;
}

h1 {
    font-size: 3em;
    font-family: 'Finger Paint', cursive;
    margin-bottom: 8px;
}

main {
    text-align: center;
}

aside {
    animation: asideSlideIn cubic-bezier(0, 0, 0, 1) 1 1s 4s forwards;
    background-color: #45c3ff;
    border-radius: 20px;
    color: #eeeeee;
    height: 80vh;
    overflow-y: scroll;
    padding: 4px;
    position: fixed;
    visibility: hidden;
    top: 10vh;
    width: 15vw;
}

body:not([data-page-load="page-rendering"]) header h1 {
    animation: centerMove ease-out 1 1s .8s forwards,
               centerPop cubic-bezier(0.93,-0.01, 0.6, 2.07) 1 1s,
               centerRotate ease-in-out 1 0.5s 1s,
               rainbow linear infinite 5s 3s;
    margin-top: 50vh;
}

body:not([data-page-load="page-rendering"]) main {
    animation: moveUp ease-out 1 1s 3s forwards;
    opacity: 0;
}

#button-row {
    display: inline-block;
    margin-top: 8px;
}

#button-row button {
    background: none;
    border: solid 5px purple;
    border-radius: 10px;
    height: 70px;
    font-size: 0.7em;
    margin: 0 4px;
    transition: border-color 500ms ease, background-color 500ms ease;
    width: 70px;
}

#button-row button:not([disabled]):hover {
    border-color: green;
}

#button-row button[data-selected="true"] { /* tool selected styles */
    border-color: red;
}

/* this selector has to be ultra specific so that it overrides the style above */
#button-row button#btn-save {
    display: block;
    font-size: 1.2em;
    margin-top: 4px;
    text-transform: uppercase;
    width: 99%;
}

#button-row button[disabled] {
    background: #333333;
    border-color: #222222;
    color: white;
    cursor: not-allowed;
}

@keyframes centerMove {
    100% {
        margin-top: 8px;
    }
}

@keyframes centerPop {
    0% {
        transform: scale(0.0);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes rainbow {
    0%, 100% {
        color: black;
    }

    15% {
        color: red;
    }

    30% {
        color: orange;
    }

    45% {
        color: yellow;
    }

    60% {
        color: green;
    }

    75% {
        color: blue
    }

    90% {
        color: purple
    }
}

@keyframes centerRotate {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }
}

@keyframes moveUp {
    0% {
        margin-top: 90vh;
    }

    100% {
        margin-top: 0vh;
        opacity: 1;
    }
}

@keyframes asideSlideIn {
    0% {
        visibility: visible;
        right: -15vw;
    }

    100% {
        visibility: visible;
        right: 0;
    }
}
